@import "tailwindcss";

/* Variables */
:root {
  @apply [--main-sidebar-width:0rem] [--margin-x:1rem] [--sidebar-panel-min-width:64px] [--sidebar-panel-width:300px] md:[--margin-x:1.5rem] md:[--sidebar-panel-width:220px] lg:[--main-sidebar-width:0rem] xl:[--margin-x:4rem];
}

.has-min-sidebar {
  @apply xl:[--margin-x:1.5rem];
}

.is-sidebar-open {
  @apply xl:[--margin-x:1.5rem];
}

@theme {
  --color-background: #f8f9fb;
  --color-foreground: #333333;
  --color-card: #FFFFFF;
  --color-card-foreground: #333333;
  --color-popover: #FFFFFF;
  --color-popover-foreground: #e5e5e5;
  --color-primary: #5bbc26;
  --color-primary-foreground: #ffffff;
  --color-secondary: #f3f4f6;
  --color-secondary-foreground: #4b5563;
  --color-muted: #f9fafb;
  --color-muted-foreground:#6b7280;
  --color-accent: #e0f8cf;
  --color-accent-foreground: #2d5b19;
  --color-destructive:#ef4444;
  --color-destructive-foreground: #ffffff;
  --color-border: #e7ecf4;
  --color-input:  #e7ecf4;
  --color-ring: #e05d38;
}

@layer base {
  * {
    @apply text-slate-800 border-border;
  }
}
/* @theme {
  :root {
    --background: #f8f9fb;
    --foreground: #333333;
    --card: #FFFFFF
    --card-foreground: #333333
    --popover: #FFFFFF
    --popover-foreground: #e5e5e5;
    --primary: #5bbc26;
    --primary-foreground: #ffffff;
    --secondary: #f3f4f6;
    --secondary-foreground: #4b5563;
    --muted: #f9fafb;
    --muted-foreground:#6b7280;
    --accent: #e0f8cf;
    --accent-foreground: #2d5b19;
    --destructive:#ef4444;
    --destructive-foreground: #ffffff;
    --border: #e7ecf4;
    --input:  #e7ecf4;
    --ring: #e05d38;
    --radius: 0.75rem;
  }
  .dark {
    --background:#1c2433;
    --foreground: #e5e5e5;
    --card:#2a3040;
    --card-foreground: #e5e5e5;
    --popover: #262b38;
    --popover-foreground: #e5e5e5;
    --primary: #5bbc26;
    --primary-foreground: #ffffff
    --secondary: #2a303e;
    --secondary-foreground: #e5e5e5;
    --muted: #2a303e;
    --muted-foreground: #a3a3a3;
    --accent: #3d4354;
    --accent-foreground: #c5f1a7;
    --destructive: #ef4444;
    --destructive-foreground: #ffffff;
    --border: #3d4354;
    --input: #3d4354;
    --ring: #e05d38;
  }
} */